# cloud-config

hostname: {{ inventory_hostname }}

rancher:
  console: debian
  resize_device: {{ hostvars[inventory_hostname].ros_dev|default(omit) }}

runcmd:
  - [ touch, /home/rancher/test1 ]
  - sed -i '/KeyRegenerationInterval/d' /etc/ssh/sshd_config
  - sed -i '/ServerKeyBits/d' /etc/ssh/sshd_config
  - sed -i '/RSAAuthentication/d' /etc/ssh/sshd_config
  - sed -i '/RhostsRSAAuthentication/d' /etc/ssh/sshd_config

ssh_authorized_keys:
  - {{ lookup('file', '../ansible.pub') }}
