#cloud-config
# vim: syntax=yaml

hostname: {{ inventory_hostname }}
manage_etc_hosts: true
# locale: "en_US.UTF-8"
timezone: "Europe/Berlin"

resize_rootfs: true
growpart:
    mode: auto
    devices: ["/"]
    ignore_growroot_disabled: false

users:
  - name: pirate
    gecos: "Hypriot Pirate"
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: users,docker,video
    plain_text_passwd: hypriot
    lock_passwd: false
    ssh_pwauth: true
    chpasswd: { expire: false }

# package_update: true

# # Disable for faster setup
# package_upgrade: true
# package_reboot_if_required: true

# packages:
  # - ntp
  # - vim

# Set language and docker options
write_files:
  # - path: /etc/default/keyboard
    # owner: "root:root"
    # content: |
      # XKBMODEL="pc105"
      # XKBLAYOUT="de"
      # XKBVARIANT=""
      # XKBOPTIONS=""
      # BACKSPACE="guess"
     
  - path: /etc/docker/daemon.json
    owner: "root:root"
    content: |
      {
        "labels": [ "os=linux", "arch=arm64" ],
        "insecure-registries" : [ "reg:5000" ],
        "experimental": true
      }

{% set swarm_iface = hostvars[inventory_hostname].swarm_iface|default("eth0") %}
{% if swarm_iface.startswith("wl") %}
  - path: /etc/network/interfaces.d/{{ swarm_iface }}
    content: |
      allow-hotplug {{ swarm_iface }}
      iface {{ swarm_iface }} inet dhcp
      wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf
      iface default inet dhcp

  - path: /etc/wpa_supplicant/wpa_supplicant.conf
    content: |
      ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
      update_config=1
      network={
      ssid="{{ rpi_wifi_ssid }}"
      psk="{{ rpi_wifi_pw }}"
      proto=RSN
      key_mgmt=WPA-PSK
      pairwise=CCMP
      auth_alg=OPEN
      }
{% endif %}


runcmd:
  - [ systemctl, restart, avahi-daemon ]
  - [ ifup, {{ swarm_iface }} ]
  - [ systemctl, restart, docker ]
  - [
      docker, service, create,
      "--detach=false",
      "--name", "portainer",
      "--publish", "9000:9000",
      "--mount", "type=volume,src=portainer_data,dst=/data",
      "--mount", "type=bind,src=//var/run/docker.sock,dst=/var/run/docker.sock",
      "portainer/portainer", "-H", "unix:///var/run/docker.sock", "--no-auth"
    ]
